body {
  width: 100%;
  background-color: rgb(0, 0, 0);
}

body #HeaderIndex {
  height: 28vh;
}
body main#MainIndex {
  width: 100%;
  height: 350vh;
}
body footer#footerIndex {
  width: 100%;
  height: 8vh;
}
body header#HeaderProductos {
  height: 20vh;
}
body #grillaContacto {
  width: 20vw;
  height: 100vh;
}

header div .ancho {
  width: 200px;
}
header div nav div a img {
  border-radius: 40px;
}

header div nav {
  z-index: 1;
}
header div nav div div ul li a.nav-link {
  font-size: 25px;
}
header div nav div div ul li a.nav-link:hover {
  color: rgb(255, 255, 255) !important;
}

div.ancho {
  width: 100%;
  height: 20vh;
}

main section div img.d-block {
  height: 400px;
}
main section div h1 {
  background-image: linear-gradient(50deg, rgb(12, 4, 97), rgb(115, 2, 185), rgb(255, 121, 233)) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-style: oblique;
  font-size: 40px;
}
main div p {
  color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
}

.mi__lugar {
  width: 100%;
  height: 70%;
  padding: 20px;
  border-radius: 10px;
}

div div h1 {
  background-image: linear-gradient(50deg, rgb(12, 4, 97), rgb(115, 2, 185), rgb(255, 121, 233)) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-style: oblique;
  font-size: 40px;
}

div .estilos__precios {
  list-style: none;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
  font-size: larger;
}
div div section h3 {
  color: rgb(113, 113, 238) !important;
}
div div section ul {
  padding: 5px;
  list-style: none;
  border: 3px groove rgb(255, 193, 7);
  border-radius: 5px;
}
div div section ul li {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.card {
  width: 100%;
  background-color: rgb(0, 0, 0);
}

main div div.card {
  width: 600px;
  height: 600px;
}
main div div.card img.card-img-top {
  height: 400px;
}

main div div div.card-body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

p.card-text {
  color: rgb(255, 255, 255);
}

main div h2 {
  background-image: linear-gradient(50deg, rgb(12, 4, 97), rgb(115, 2, 185), rgb(255, 121, 233)) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-style: oblique;
  font-size: 40px;
}

.btn {
  background-color: rgb(255, 193, 7);
  color: rgb(0, 0, 0);
}
.btn:focus {
  -webkit-box-shadow: 0 0 0 0.15rem rgb(113, 113, 238);
          box-shadow: 0 0 0 0.15rem rgb(113, 113, 238);
}

main div section div h3.video {
  color: rgb(113, 113, 238);
}
main div section div video.video__uno {
  border-radius: 10px;
  cursor: pointer;
}
main div section div video.video__dos {
  border-radius: 10px;
  cursor: pointer;
}
main div section div video.video__tres {
  border-radius: 10px;
  cursor: pointer;
}
main div section div video.video__cuatro {
  border-radius: 10px;
  cursor: pointer;
}

p a {
  color: rgb(0, 0, 0) !important;
}

div #collapseExample {
  padding-top: 1%;
  padding-bottom: 5%;
  padding-left: 18% !important;
}

div div .card {
  height: 20% !important;
  padding: 10px;
}

div a .btn {
  font-family: Courier New, Courier, monospace;
}

div .card.mb-3 {
  background-color: black;
}

h2 {
  color: rgb(113, 113, 238);
  padding: 30px;
}

div div div div img {
  border-radius: 5px;
}

div .col-md-4 {
  padding: 2px;
}

.texto__productos {
  font-size: 16px;
}

main div {
  text-align: center;
}
main div h1 {
  background-image: linear-gradient(50deg, rgb(12, 4, 97), rgb(115, 2, 185), rgb(255, 121, 233)) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-style: oblique;
  font-size: 40px;
}
main form fieldset legend {
  font-style: oblique;
  text-shadow: 0 0 8px rgb(0, 0, 0);
  text-align: center;
  color: rgb(113, 113, 238);
}
main form fieldset #form {
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

div select #selector__color {
  cursor: pointer;
}

div input {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
div input:focus {
  font-size: 20px;
}
div input {
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}
div input:focus {
  font-size: 45px;
}

div p.tipo {
  padding: 15px;
}

/* RESOLUCION SMALL */
@media (max-width: 380px) {
  img.d-block {
    height: 200px;
  }
}
@media (max-width: 576px) {
  img.d-block {
    height: 200px;
  }
}
/* RESOLUCION MEDIUM */
@media (min-width: 768px) {
  main div div.card img.card-img-top {
    height: 360px;
  }
}
/* RESOLICION LARGE */
@media (min-width: 992px) {
  main div div.card {
    width: 300px;
    height: 600px;
  }

  main div div.card img.card-img-top {
    height: 350px;
  }
}
@media screen and (max-width: 574px) {
  #carruselIndex {
    display: none;
  }
}
@media screen and (max-width: 300px) {
  #carruselIndex {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .parrafo {
    font-size: 1em !important;
  }
}
@media screen and (max-width: 365px) {
  .parrafo {
    font-size: 1em !important;
  }
}

@media screen and (max-width: 300px) {
  section img {
    width: 350px !important;
    height: 350px !important;
  }
}
@media screen and (max-width: 574px) {
  section img {
    width: 500px !important;
    height: 500px !important;
    padding: 15px;
  }
}

div.card {
  width: 600px !important;
  height: 600px;
}
@media screen and (max-width: 300px) {
  div.card {
    width: 100% !important;
    padding: 2px !important;
  }
}
@media screen and (max-width: 574px) {
  div.card {
    width: 100% !important;
    padding: 2px !important;
  }
}

@media screen and (max-width: 300px) {
  section div video {
    width: 100% !important;
    padding: 5px !important;
  }
}
@media screen and (max-width: 574px) {
  section div video {
    width: 100% !important;
    padding: 5px !important;
  }
}

@media screen and (max-width: 574px) {
  #collapseExample {
    padding-right: 15% !important;
  }
}
@media screen and (max-width: 300px) {
  #collapseExample {
    padding-left: 1% !important;
  }
}
@media screen and (max-width: 766px) {
  #collapseExample {
    padding-right: 19% !important;
  }
}
@media screen and (max-width: 1500px) {
  #collapseExample {
    padding-right: 2% !important;
  }
}

@media screen and (max-width: 1500px) {
  .card-body {
    padding-right: 10% !important;
  }
}

@media screen and (max-width: 300px) {
  .text {
    width: 40% !important;
    padding: 5px !important;
  }
}
@media screen and (max-width: 574px) {
  .text {
    width: 40% !important;
    padding: 5px !important;
  }
}

@media screen and (max-width: 300px) {
  div textarea {
    width: 100% !important;
    padding: 5px !important;
  }
}
@media screen and (max-width: 574px) {
  div textarea {
    width: 90% !important;
    padding: 5px !important;
  }
}