// ESTILOS DEL BODY //
body {
    width: 100vw;
    background-color: map-get($paleta-colores, "negro");
    overflow-x: hidden;
}


body {
    #grillaServicios {
        width: 100vw;
    }

    #HeaderIndex {
        height: 28vh;
    }

    main#MainIndex {
        width: 100vw;

    }


    footer#footerIndex {
        width: 100vw;
        height: 8vh;
    }

    header#HeaderProductos {
        height: 20vh;
    }

    #grillaContacto {
        width: 20vw;
        height: 100vh;
    }
}