// ESTILOS DE LAS IMAGENES //
// tamaño de imagen y contenedor
main {
    div {
        div.card {
            width: 600px;
            height: 600px;

            img.card-img-top {
                height: 400px;
            }
        }
    }
}

// estilos de los textos debajo de las fotos
main {
    div {
        div {
            div.card-body {
                background-color: map-get($paleta-colores,"negro");
                color: map-get($paleta-colores, "blanco");
            }
        }
    }
}
// color de parrafo
p.card-text {
    color: map-get($paleta-colores,"blanco");
}
// estilos de los titulos 
main div h2{
    background-image: linear-gradient(50deg, rgb(12, 4, 97), rgb(115, 2, 185), rgb(255, 121, 233)) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-style: oblique;
    font-size: 40px;
} 

// estilo de boton de botones
.btn{
    background-color: map-get($paleta-colores,"amarillo") ;
    color: map-get($paleta-colores,"negro");
    &:focus{
        box-shadow: 0 0 0 0.15rem map-get($paleta-colores,"lila" ) ;}
}

// estilo de los titulos de los videos 
main {
    div {
        section {
            div {
                h3.video {
                    color: map-get($paleta-colores,"lila");
                }

                video.video__uno {
                    border-radius: 10px;
                    cursor: pointer;
                }
            }

            div {
                video.video__dos {
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }

        section {
            div {
                video.video__tres {
                    border-radius: 10px;
                    cursor: pointer;
                }
            }

            div {
                video.video__cuatro {
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}
p  a  {
    color: map-get($paleta-colores, "negro") !important;
}

// texto colapso de los videos 
div #collapseExample {
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 18% !important;
}

// estilo de las cartas completas
div div .card {
    height: 20% !important;
    padding: 10px;
}

// estilo de boton final
div{
    a{
        .btn{
            font-family: Courier New, Courier, monospace;
        }
    }
}