// TODAS LAS MEDIA QUERIES //

/* RESOLUCION SMALL */

@media (max-width: 380px) {

    // IMAGENES DE INICIO
    img.d-block {
        height: 200px;
    }
}

@media (max-width: 576px) {

    // IMAGENES DE INICIO
    img.d-block {
        height: 200px;
    }

}

/* RESOLUCION MEDIUM */
@media (min-width: 768px) {

    // imagenes de galeria
    main div div.card img.card-img-top {
        height: 360px;
    }
}

/* RESOLICION LARGE */
@media (min-width: 992px) {

    // card de galeria
    main div div.card {
        width: 300px;
        height: 600px;
    }

    // imagenes de galeria
    main div div.card img.card-img-top {
        height: 350px;
    }
}