@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// mixin mediaqueries de movil pequeño
@mixin movil($medida : 300px) {
    @media screen and (max-width: $medida) {
        @content;
    }
}

@mixin movilMed($medida : 365px) {
    @media screen and (max-width: $medida) {
        @content;
    }
}

// mixin mediaqueries de movil grande
@mixin mvGrandes($medida : 574px) {
    @media screen and (max-width: $medida) {
        @content;
    }
}

// mixin mediaqueries tablets pequeñas
@mixin tabletsP($medida : 766px) {
    @media screen and (max-width: $medida) {
        @content;
    }
}

// mixin mediaqueries de desktop
@mixin desktop($medida : 1500px) {
    @media screen and (max-width: $medida) {
        @content;
    }
}


// quitamos carrusel en celulares
#carruselIndex {
    @include mvGrandes() {
        display: none
    }

    @include movil() {
        display: none
    }
}

.parrafo {
    @include movil() {
        font-size: 1em !important;
    }

    @include movilMed() {
        font-size: 1em !important;
    }
}

// estilos de la img de inicio
section img {
    @include movil() {
        width: 350px !important;
        height: 350px !important;
    }

    @include mvGrandes() {
        width: 500px !important;
        height: 500px !important;
        padding: 15px;
    }
}

// estilos de las cards
div.card {
    width: 600px !important;
    height: 600px;

    @include movil() {
        width: 100% !important;
        padding: 2px !important;
    }

    @include mvGrandes() {
        width: 100% !important;
        padding: 2px !important;
    }
}

// estilos de videos
section div video {
    @include movil() {
        width: 100% !important;
        padding: 5px !important;
    }

    @include mvGrandes() {
        width: 100% !important;
        padding: 5px !important;
    }
}

// estilo de colapso en boton videos 
#collapseExample {
    @include mvGrandes() {
        padding-right: 15% !important;
    }
}

.text {
    @include movil() {
        width: 40% !important;
        padding: 5px !important;
    }

    @include mvGrandes() {
        width: 40% !important;
        padding: 5px !important;
    }
}

// textarea de contactos
div textarea {
    @include movil() {
        width: 100% !important;
        padding: 5px !important;
    }

    @include mvGrandes() {
        width: 90% !important;
        padding: 5px !important;

    }

}